body {
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.name {
    font-size: 28px;
    font-weight: 600;
}

.date-section, .address-section {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.date-block, .address-block {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.date-block {
    width: 170px;
}

.address-block {
    max-width: 20ch;
}

.label {
    font-weight: 500;
}

.date-value, .address-value {
    opacity: 50%;
}

.service-label-section {
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.divider {
    width: 100%;
    background-color: #bfbfbf;
    height: 2px;
}

.service-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sub-total-section {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.sub-total-section .sub-total{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.service-name {
    font-weight: 600;
}

.service-total, .sub-total-value {
    opacity: 50%;
}

.total-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    padding: 16px;
    background-color: #f5f5f5;
    border-radius: 8px;
    border-style: dashed;
}

.bank-details {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    margin-top: 40px;
}

.bank-detail {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.message {
    max-width: 420px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    opacity: 50%;
}



#three_buttons{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}
#three_buttons button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    border-radius: 4px;
    transition: background-color 0.3s ;
}
#three_buttons button:hover{
    background-color: #bedac5;
}
a {
    color: black;
    text-decoration: none;
}
